*{
    margin:0;
    padding:0;
    font-family: "Open Sans";  /*https://www.cssfontstack.com/Open-Sans*/
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding:10px;
}
.todo-app{
    width:100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
}
.todo-app h2{
    color: #002765;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;    
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    -webkit-user-select: all;/* Safari 3.1+ */
    -moz-user-select: all;/* Firefox 2+ */
    user-select: all;/* Standard syntax */
    /* user-select: auto | none | text | all | contain | initial | inherit; 
    none - the text cannot be selected , Prevent text selection
    all - The text is selected by one click instead of double-click.Text is selected by one click.
    auto - Text can be selected if the browser allows it. This is the default value of this property.
    text - In the following example, you can select any part of the text you want.
           Text is selected by the user.
    contain - When the element is an editable.
    initial - 	Sets the property to its default value.
    inherit - Inherits the property from its parent element.
    
    Which statement is correct about CSS user-select property?

If the element is an editable element, the computed value is "cover".

If the computed value of user-select on the parent of this element is "none", the computed value is "auto".

On the ::before and ::after pseudo elements, the computed value is "text".

If the computed value of user-select on the parent of this element is "all", the computed value is "all".

4th statement is correct    

*/
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(/assets/img/unchecked.png);
    background-size: cover;
    /* Value	Description	Demo
auto	- Default value. The background image is displayed in its original size	
length	- Sets the width and height of the background image. The first value sets the width,
        the second value sets the height.
        If only one value is given, the second is set to "auto". Read about length units	
percentage	Sets the width and height of the background image in percent of the parent element.
            The first value sets the width, the second value sets the height. If only one value is given, 
            the second is set to "auto"	
cover	- Resize the background image to cover the entire container,
        even if it has to stretch the image or cut a little bit off one of the edges	
contain	- Resize the background image to make sure the image is fully visible	
initial	- Sets this property to its default value. Read about initial	
inherit	- Inherits this property from its parent element. Read about inherit */
   background-position: center;
   top: 12px;
   left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    background-image: url(/assets/img/checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}

